@import url("https://fonts.googleapis.com/css2?family=Hind:wght@400;500&family=League+Spartan:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  html::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(169, 97, 97, 0.3);
    @apply bg-slate-900;
  }

  html::-webkit-scrollbar {
    width: 3px;
    @apply bg-primary;
  }

  html::-webkit-scrollbar-thumb {
    @apply bg-primary;
  }

  html::selection {
    color: red;
  }

  html {
    scroll-behavior: smooth;
    overflow-x: hidden;
  }

  body {
    @apply font-hind;
    @apply dark:bg-slate-900;
    @apply dark:text-white;
    @apply bg-slate-300;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply font-spartan;
  }

  h1 {
    font-size: 2.8em;
  }

  h2 {
    font-size: 2.3em;
  }

  h3 {
    font-size: 2em;
  }

  h4 {
    font-size: 1.8em;
  }

  h5 {
    font-size: 1.5em;
  }

  h6 {
    font-size: 1.3em;
  }

  p {
    @apply font-hind;
    @apply text-gray-600;
    @apply dark:text-gray-400;
    font-weight: 400;
    font-size: 1.2em;
  }

  span {
    font-size: 1.5em;
    position: relative;
  }

  span::before {
    transition: 300ms;
    height: 2px;
    content: "";
    position: absolute;
    @apply dark:bg-primary bg-secondary;
    width: 0%;
    bottom: -1px;
  }

  span:hover::before {
    @apply text-red-200;
    width: 100%;
  }


  button {
    @apply font-spartan;
    @apply text-2xl;
    @apply rounded-lg;
  }

  .button_primary {
    @apply text-white;
    @apply bg-secondary;
    @apply px-8;
    @apply py-3;
  }

  .button_secondary {
    @apply bg-primary;
    @apply text-black;
    @apply px-8;
    @apply py-3;
  }

  .button_secondary_sm {
    @apply bg-primary;
    @apply text-black;
    @apply px-4;
    @apply py-1;
    font-size: 1.2em;
  }

  input {
    border: none;
    outline: none;
    @apply bg-slate-200;
    @apply rounded-md;
    @apply w-full;
    @apply h-10;
    @apply px-4;
  }

  input::placeholder {
    @apply py-6;
    @apply font-spartan;
    font-weight: 400;
    font-size: 1.2em;
  }

  .textarea {
    @apply border-none;
    @apply outline-none;
    @apply bg-slate-200;
    @apply rounded-md;
    @apply w-full;
    @apply h-40; /* Taille pour simuler une area */
    @apply p-4; /* Padding pour le texte */
    @apply text-left;
    @apply align-text-top; /* Alignement en haut */
    font-weight: 400;
    font-size: 1.2em;
    @apply font-spartan;
  }

  .footerText {
    @apply font-hind;
    @apply text-gray-600;
    @apply dark:text-gray-400;
    font-weight: 400;
    font-size: 1em;
  }

  span {
    font-size: 0.8em;
  }

  .pre {
    @apply rounded-xl;
    position: relative;
    transform-style: preserve-3d;
    padding: 15px;
    transform: perspective(450px) rotateY(var(--rotateX))
      rotateX(var(--rotateY));
  }

  .pre::before,
  .pre::after {
    content: "";
    position: absolute;
    border-radius: inherit;
  }

  .pre::before,
  .pre::after {
    content: "";
    position: absolute;
    border-radius: inherit;
  }

  /* shadow */
  .pre::before {
    inset: 0.75rem;
    border-radius: inherit;
    background: black;
    z-index: -1;
    transform: translateZ(-10px);
    filter: blur(15px);
    opacity: 0.6;
  }

  /* gradient thingy */
  .pre::after {
    z-index: -2;
    inset: -1rem;
    background: linear-gradient(-45deg, theme("colors.primary"), blue);
    transform: translateZ(-30px);
  }

  :root {
    --typewriterSpeed: 6s;
    --typewriterCharacters: 24;
  }

  h1 {
    position: relative;
  }

  h1::before,
  h1::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  h1::before {
    @apply dark:bg-slate-900;
    @apply bg-slate-300;

    animation: typewriter var(--typewriterSpeed)
      steps(var(--typewriterCharacters)) 1s forwards;
  }

  h1::after {
    width: 0.125em;
    @apply dark:bg-slate-300;
    @apply bg-slate-900;
    animation: typewriter var(--typewriterSpeed)
        steps(var(--typewriterCharacters)) 1s forwards,
      blink 750ms steps(var(--typewriterCharacters)) infinite;
  }

  .subtitle {
    opacity: 0;
    transform: translateY(3rem);
    animation: fadeInUp 2s ease 0.4s forwards;
  }

  @keyframes typewriter {
    to {
      left: 100%;
    }
  }

  @keyframes blink {
    to {
      background: transparent;
    }
  }

  @keyframes fadeInUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  #yt-link {
    position: absolute;
    bottom: 2em;
    width: 100%;
    color: hsl(0 0 0 / 0.7);

    &:hover,
    &:focus {
      color: teal;
    }
  }
}
/* Buttons */
