@import url("https://fonts.googleapis.com/css2?family=Hind:wght@400;500&family=League+Spartan:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    @apply font-hind;
    @apply dark:bg-slate-900;
    @apply dark:text-white;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply font-spartan;
  }

  h1 {
    font-size: 2.8em;
  }

  h2 {
    font-size: 2.3em;
  }

  h3 {
    font-size: 2em;
  }

  h4 {
    font-size: 1.8em;
  }

  h5 {
    font-size: 1.5em;
  }

  h6 {
    font-size: 1.3em;
  }

  p {
    @apply font-hind;
    @apply text-gray-600;
    @apply dark:text-gray-400;
    font-weight: 400;
    font-size: 1.2em;
  }

  a {
    font-size: 1.2em;
  }

  button {
    @apply font-spartan;
    @apply text-2xl;
    @apply rounded-sm;
  }

  .button_primary {
    @apply text-white;
    @apply bg-secondary;
    @apply px-8;
    @apply py-3;
  }

  .button_secondary {
    @apply bg-primary;
    @apply text-black;
    @apply px-8;
    @apply py-3;
  }

  .button_secondary_sm {
    @apply bg-primary;
    @apply text-black;
    @apply px-4;
    @apply py-1;
    font-size: 1.2em;
  }

  input {
    border: none;
    outline: none;
    @apply bg-gray-200;
    @apply rounded-md;
    @apply w-full;
    @apply h-10;
    @apply px-4;
  }

  input::placeholder {
    @apply py-6;
    @apply font-spartan;
    font-weight: 400;
    font-size: 1.2em;
  }

  .textarea {
    @apply border-none;
    @apply outline-none;
    @apply bg-gray-200;
    @apply rounded-md;
    @apply w-full;
    @apply h-40; /* Taille pour simuler une area */
    @apply p-4; /* Padding pour le texte */
    @apply text-left;
    @apply align-text-top; /* Alignement en haut */
    font-weight: 400;
    font-size: 1.2em;
    @apply font-spartan;
  }

  .footerText {
    @apply font-hind;
    @apply text-gray-600;
    @apply dark:text-gray-400;
    font-weight: 400;
    font-size: 1em;
  }

  span {
    font-size: 0.8em;
  }
}
/* Buttons */
