@import url("https://fonts.googleapis.com/css2?family=Hind:wght@400;500&family=League+Spartan:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    @apply font-hind;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply font-spartan;
  }

  h1 {
    font-size: 45px;
  }

  h2 {
    font-size: 38px;
  }

  h3 {
    font-size: 33px;
  }

  h4 {
    font-size: 24px;
  }

  h5 {
    font-size: 22px;
  }

  h6 {
    font-size: 22px;
  }

  p {
    @apply font-hind;
    @apply text-gray-600;
    font-weight: 400;
    font-size: 20px;
  }

  a {
    font-size: 20px;
  }

  button {
    @apply font-spartan;
    @apply text-2xl;
    @apply rounded-sm;
  }

  .button_primary {
    @apply text-white;
    @apply bg-secondary;
    @apply px-8;
    @apply py-3;
  }

  .button_secondary {
    @apply bg-primary;
    @apply text-black;
    @apply px-8;
    @apply py-3;
  }
}
/* Buttons */
